.redditTopics {
  grid-area: redditTopics;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.redditTopics label {
  font-weight: 700;
}

.redditTopics select {
  width: 100%;
  height: 2rem;
}

@media (max-width: 1200px) {
  .redditTopics select {
    width: 100%;
    height: 1.5rem;
  }
}
