.redditTopics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.redditTopics label {
  font-weight: 700;
}

.redditTopics select {
  width: 100%;
  height: 2rem;
}
