.searchBar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
}
