/* 
----------------------------------------------------------------------------------------------------------------- 
Formatting of main areas of the page -> header, main and footer
-----------------------------------------------------------------------------------------------------------------
*/
header {
  max-height: 100px;
  padding: 10px 20px;
  display: grid;
  /* grid-template-columns: 1fr 8fr 1fr; */
  grid-template-areas: "logo searchBar searchBar searchBar redditTopics";
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

header,
footer {
  color: white;
  background-color: rgb(112, 76, 182);
  opacity: 0.9;
}

main {
  background-color: white;
}

footer p {
  margin: 0;
  padding: 10px;
}

.App {
  text-align: center;
}

.bold {
  font-weight: 700;
}

@media (max-width: 900px) {
  header {
    grid-template-areas: "logo redditTopics" "logo searchBar";
    grid-template-columns: 1fr 2fr;

    font-size: 0.8rem;
  }
}
