.redditPost {
  border: 2px solid black;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 1200px;
}

.postImage {
  max-width: 100%;
}

.author {
  margin-top: 5px;
}

.postComments {
  border: 1px double blue;
  display: none;
}

.author cite {
  font-weight: 700;
}
