.redditPost {
  border: 2px solid black;
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
}

.postImage {
  max-width: 100%;
}

.author {
  margin-top: 5px;
}

.actionContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.postComments {
  display: none;

  max-height: 300px;
  overflow-y: scroll;
}

.author cite {
  font-weight: 700;
}
