.redditPost {
  border: 2px solid black;
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
}

.postImage {
  max-width: 100%;
}

.author {
  margin-top: 5px;
}

.actionContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.postComments {
  border: 1px double blue;
  display: none;
}

/* .commentIcon {
  display: block;
  cursor: pointer;
  font-size: 2em;
  color: gray;
} */

.author cite {
  font-weight: 700;
}
